main{
    margin-top: 150px;
}
.swiper-wrapper_main{
    position: relative;
}
.debt_collection{
    z-index: 1;
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.debt_collection_h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 80px;
}
.debt_collection_text{
    margin-top: 15px;
}
.debt_collection_btn{
    margin-top: 40px;
}
.reliable_protection{
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
}
.legal_support{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    background-color: white;
}
.legal_support_text{
    padding: 50px 60px 60px 70px;
    max-width: 670px;
}
.legal_support_text h2{
    line-height: 40px;
}
.legal_support_text p{
    margin-top: 40px;
}
.legal_support_img{
    margin-right: -10px;
}
.main_directions_activity_1{
    margin-top: 100px;
}
.main_directions_activity_element{
    margin-top: 35px;
}
.main_directions_activity_element_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.main_directions_activity_btn{
    margin-top: 40px;
}
.main_directions_activity_2{
    margin-top: 100px;
}
.main_directions_activity_2_content{
    display: flex;
    justify-content: space-between;
}
.main_directions_activity_2_text{
    max-width: 770px;
}
.main_directions_activity_2_text p{
    margin-bottom: 60px;
}
.partner_reviews_container_content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.partner_reviews_element{
    flex: 0 1 570px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, .2);
}
.partner_reviews_element_container_text{
    padding: 40px 50px 65px 50px;
}
.partner_reviews_element_text_director{
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.partner_reviews_element_text_name{
    font-size: 26px;
    font-weight: 700;
    color: #DEC377;
    margin-top: 10px;
}
.partner_reviews_element_text_p p{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}
.partner_reviews_element_text_link{
    margin-top: 25px;
}
.partner_reviews_element_text_link a{           
    font-family: 'lato',sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}
.partner_reviews_element_text_link a:hover{
    color: #DEC377;
    transition-duration: 0.2s;
    border-bottom: 1px solid #DEC377;
}
.partner_reviews_button{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    position: relative;
}
.partner_reviews_btn_3 :first-child{
    margin-right: 25px;
}
.partner_reviews_btn_2{
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-40%,-50%);
}
.our_partners_bottom{
    margin-top: 100px;
}
.our_partners_bottom_content_1{
    display: flex;
}
.our_partners_bottom_content_1_text{
    flex: 0 1 670px;
    margin-right: 100px;
}
.our_partners_bottom_content_2{
    margin-top: 40px;
}
.our_partners_bottom_content_2_partner_img{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.partner_img_element a{
    filter: brightness(0);
    opacity: 70%;
}
.partner_img_element a:hover{
    filter: brightness(1);
    transition-duration: 0.2s;
}
.complicated_things{
    margin-top: 100px;
}
.complicated_things_content{
    display: flex;
    justify-content: space-between;
}
.complicated_things_content_element{
    flex: 0 1 570px;
    position: relative;
    background-color: white;
    padding: 40px 55px 50px 55px;
}
.complicated_things_content_element_text{
    margin-top: 15px;
}
.complicated_things_content_element_h4{
    font-size: 26px;
    font-weight: 400;
    line-height: 45px;
}
.complicated_things_content_element_img{
    position: absolute;
    top: 0;
    right: 0;
}
.complicated_things_bottom{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 40px 50px 45px 50px;
}
.complicated_things_bottom_h4{
    flex: 0 1 320px;
    font-size: 26px;
    font-weight: 400;
    line-height: 45px;
}
.complicated_things_bottom_text{
    flex: 0 1 720px;
}
.img_rec_114{
    margin: 80px 0 80px 0;
}
.service_list_content{
    margin-top: 35px;
}
.service_list_content_element{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.service_list_mobile{
    display: none;
}
.service_list_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.service_list_text{
    margin-right: 210px;
}
.why_trust{
    margin-top: -100px;
}
.why_trust_content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.why_trust_line{
    margin-bottom: 100px;
}
.why_trust_text{
    flex: 0 1 470px;
}
.why_trust_text p{
    margin-top: 30px;
}
.why_trust_registr{
    flex: 0 1 430px;
}
.why_trust_list li{
    margin-bottom: 30px;
    font-family: 'Lato'sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.75);
    background-image: url(../img/main_img/Group\ 32.svg);
    background-repeat: no-repeat;
    padding:  4px 0 10px 70px;
}
.our_advantages{
    margin-top: 80px;
}
.our_advantages_content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.our_advantages_content_bottom{
    background-color: white;
    padding: 40px 370px 45px 50px;
    position: relative;
    margin-top: 40px;
}
.our_advantages_content_bottom_img{
    position: absolute;
    top: 0;
    right: 0;
}
.organization_cooperation{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.organization_cooperation_content_1{
    flex: 0 1 500px;
}
.organization_cooperation_content_1_text{
    display: flex;
}
.organization_cooperation_content_1_text{
    margin-top: 35px;
}

.organization_cooperation_content_1_text_img{
    margin-right: 30px;
}
.organization_cooperation_form_name{
    flex: 0 1 570px;
    background-color: white;
    padding: 40px 50px 60px 50px;
}
.form_name_input{
    margin-top: 10px;
}
.servise_cost{
    margin-top: 100px;
}
.servise_cost_text{
    margin: 30px 0 30px 0;
    display: inline-block;
    max-width: 670px;
}
