/*----------max-width(1190px)----------*/
@media(max-width:1190px){
    /*-----headr-----*/
    .header_top{
        height: 30px;
    }
    .header_bottom{
        height: 70px;
    }
    .header_top_eye{
        display: none;
    }
    .sub_header_top_language{
        margin-top: -13px;
    }
    .sub_header_top_language p,
    .header_top_language p{
        font-size: 12.5px;
    }
    .sub_header_top_language.sub_active{
        top: 29px;
    }
    /*-----headr-----*/
    /*-----main-----*/
    main{
        margin-top: 100px;
    }
    .debt_collection{
        top: 100px;
    }
    .debt_collection_h1{
        margin-top:40px;
        font-size: 35px;
        line-height: 45px;
    }
    .debt_collection_text{
        margin-top: 20px;
    }
    .debt_collection_btn{
        margin-top: 30px;
    }
    .swiper_btn{
        margin-top: -30px;
    }
    .debt_collection_btn span{
        width: 180px;
        height: 40px;
    }
    .reliable_protection{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reliable_protection_element{
        flex: 0 1 380px;
        height: 350px;
    }
    .reliable_protection_element{
        margin: 20px;
    }
    .reliable_protection_element{
        padding-top: 70px;
    }
    .main_directions_activity_sub_element{
        flex: 0 1 320px;
    }
    .swiper_btn_coctainer_2{
        display: none;
    }
    .main_directions_activity_2_content{
        flex-wrap: wrap;
    }
    .main_directions_activity_2_text{
        margin-top: 20px;
    }
    .main_directions_activity_2_text p{
        margin-bottom: 30px;
    }
    .main_body_wrapper_white{
        margin-top: 0px;
        padding-top: 80px;
    }
    .partner_reviews_element{
        flex: 0 1 470px;
    }
    .complicated_things_content_element{
        flex: 0 1 485px;
        padding: 40px 40px 50px 40px;
    }
    .our_partners_bottom_content_2_partner_img{
        flex-wrap: wrap;
    }
    .service_list_content_element :first-child{
        margin-right: 30px;
    }
    .service_list_bottom{
        flex-wrap: wrap;
    }
    .service_list_btm{
        margin-top: 20px;
        padding-bottom: 50px;
    }
    .service_list_text{
        margin-right: 0;
    }
    .why_trust{
        margin-top: -30px;
    }
    .why_trust_content{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }
    .why_trust_line{
        margin-bottom: 50px;
    }
    .our_advantages_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .our_advantages_content_element{
        flex: 0 1 380px;
        height: 335px;
        background-color: white;
        margin: 20px;
    }
    .our_advantages_h2{
        text-align: center;
    }
    .organization_cooperation_content_1{
        flex: 0 1 450px;
    }
    .organization_cooperation_form_name{
        flex: 0 1 520px;
    }
    .servise_cost{
        margin-top: 50px;
    }
    /*-----main-----*/
    /*-----footer-----*/
    .rec_124{
        margin: 50px 0 50px 0;
    }
    .our_offices{
        margin: 0 30px 0 30px;
    }
    /*-----footer-----*/
}
/*----------max-width(1190px)----------*/

/*----------max-width(835px)----------*/
/*-----headr-----*/
@media(max-width:835px){
    /*-----headr-----*/
    .number_link{
        display: none;
    }
    /*-----burger-----*/
    body.lock{
        overflow: hidden;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 20;
    }
    .header_burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 13px;
        transition-duration: 0.3s;
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition-duration: 0.3s;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 14px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 14px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_menu{
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 110px 0 0 0;
    }
    .header_menu.active{
        right: 0;
        transition-duration: 0.4s;
    }
    .header_list{
        display: block;
    }
     /*-----burger-----*/
    .header_list li{
        margin: 15px 0 0 10px;
    }
    .header_top,
    .header_bottom_logo{
        position: relative;
        z-index: 15;
    }
    /*-----search-----*/
    .search_box{
        margin: 15px 0 0 4px;
    }
    .search_box:hover > .search_input{
        width: 270px;
        margin-left: 30px;
    }
    .search_input{
        left: 0;
    }
    /*-----search-----*/
    /*-----headr-----*/
     /*-----main-----*/
    .debt_collection_h1{
        margin-top:25px;
        font-size: 25px;
        line-height: 30px;
    }
    .debt_collection_text{
        margin-top: 15px;
    }
    .debt_collection_text p{
        font-size: 13.5px;
    }
    .debt_collection_btn{
        margin-top: 20px;
    }
    .swiper_btn{
        margin-top: -45px;
    }
    .debt_collection_btn span{
        width: 180px;
        height: 40px;
    }
    .reliable_protection_element{
        flex: 0 1 100%;
        height: 285px;
    }
    .reliable_protection_element{
        padding-top: 50px;
    }
    .reliable_protection_element{
        margin: 15px;
    }
    .legal_support{
        flex-wrap: wrap;
        justify-content: center;
    }
    .legal_support_text{
        padding: 60px 0 60px 60px;
    }
    .main_directions_activity_1{
        margin-top: 50px;
    }
    .main_directions_activity_element_container{
        flex-wrap: wrap;
    }
    .main_directions_activity_sub_element{
        flex: 0 1 100%;
        margin-top: 30px;
        border: 2px solid #DEC377;
        border-radius: 3px;
    }
    .main_directions_activity_element_container{
        margin-top: 0;
    }
    .main_directions_activity_2{
        margin-top: 50px;
    }
    .main_directions_activity_2_h2{
        margin-bottom: 30px;
    }
    .main_directions_activity_2_text p{
        margin-bottom: 40px;
    }
    .partner_reviews_container_content{
        flex-wrap: wrap;
    }
    .partner_reviews_element{
        flex: 0 1 100%;
    }
    .partner_reviews_btn_2{
        display: none;
    }
    .partner_img_element img{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .our_partners_bottom_content_2_partner_img{
        padding-bottom: 50px;
    }
    .our_partners_bottom_content_1{
        flex-wrap: wrap;
    }
    .our_partners_bottom_content_1_text{
        margin-right: 0;
    }
    .our_partners_bottom_content_1_btn{
        margin-top: 30px;
    }
    .our_partners_bottom_content_2_partner_img{
        justify-content: center;
    }
    .complicated_things_content{
        flex-wrap: wrap;
    }
    .complicated_things_content_element{
        flex: 1 1 485px;
        padding: 40px 40px 50px 40px;
        margin-top: 30px;
    }
    .complicated_things_bottom{
        flex-wrap: wrap;
    }
    .complicated_things_bottom_text{
        margin-top: 20px;
    }
    .complicated_things_bottom_h4{
        flex: 1 1 320px;
    }
    .complicated_things{
        margin-top: 50px;
    }
    .img_rec_114{
        margin: 40px 0 40px 0;
    }
    .service_list_content{
        display: none;
    }
    .service_list_mobile{
        display: block;
    }
    .why_trust_list{
        margin-top: 30px;
    }
    .our_advantages_content_element{
        flex: 0 1 100%;
    }
    .our_advantages_content_bottom{
        padding: 40px 50px 40px 50px;
        margin-top: 20px;
    }
    .organization_cooperation{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .organization_cooperation_form_name{
        margin-top: 20px;
    }
    .organization_cooperation_content_1{
        flex: 0 1 100%;
    }
    .organization_cooperation_form_name{
        flex: 0 1 100%;
        border: 1px solid #DEC377;
        border-radius: 3px;
    }
    /*-----main-----*/
    /*-----footer-----*/
    .legal_technology{
        display: none;
    }
    .our_offices{
        margin: 0 30px 0 0;
    }
    .footer_bottom{
        margin-top: 30px;
    }
    .legal_technology_mobile{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .legal_technology_mobile a{
        margin: 0 5px 0 5px;
    }
    /*-----footer-----*/
}
/*----------max-width(835px)----------*/
/*----------max-width(756px)----------*/
@media(max-width:756px){
    h2,h4{
        font-size: 24px;
    }
       /*-----main-----*/
    .debt_collection_text{
        display: none;
    }
    .debt_collection_h1{
        margin-top: 8px;
        font-size: 17.5px;
        line-height: 22px;
    }
    .debt_collection_btn{
       margin-top: 8px;
    }
    .debt_collection_btn span{
        width: 110px;
        height: 25px;
        font-size: 9px;
    }
    .swiper_btn{
       margin-top: -72px;
    }
    .legal_support_text{
        padding: 50px 0 50px 0;
    }
    .legal_support_text h2{
        line-height: 30px;
    }
    .partner_reviews_element_container_text{
        padding: 30px 25px 40px 25px;
    }
    .organization_cooperation_form_name{
        padding: 15px 15px 15px 20px;
    }
    /*-----main-----*/
    /*-----footer-----*/
    .footer{
        flex-wrap: wrap;
    }
    .our_offices_container{
        flex-wrap: wrap;
    }
    .our_offices_container_city{
        margin: 20px 20px 0 0;
    }
    /*-----footer----*/
}
/*----------max-width(756px)----------*/

/*----------max-width(332px)----------*/
@media(max-width:332px){
    /*-----main-----*/
    .debt_collection_h1{
        margin-top: 5px;
        font-size: 12.5px;
        line-height: 20px;
    }
    .debt_collection_btn{
       margin-top: 8px;
    }
    .debt_collection_btn span{
        width: 90px;
        height: 20px;
        font-size: 7.5px;
    }
    .swiper_btn{
       margin-top: -80px;
    /*-----main-----*/
    }
    .complicated_things_bottom_h4 h4{
        font-size: 22.5px;
    }
    .another_colour{
        background-color: #DEC377;
    }
    .form_name_text p{
        font-size: 12.5px;
    }
}
/*----------max-width(332px)----------*/